* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Amsterdam-sans, Avenir, sans-serif;
    background-color: white;
    overflow: hidden;
}

/* Layout */

main {
    padding: 1em;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ul {
    height: 10em;
    border: 0.1em solid gainsboro;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    overflow: scroll;
}

li {
    width: fit-content;
    border: 0.1em solid gainsboro;
    border-radius: 0.25em;
    padding: 1em 1.2em;
    list-style: none;
}


/* Form */
form {
    background-color: white;
    border: 0.1em solid gainsboro;
    border-radius: 0.5em;
    padding: 1em;
  }

form input {
    width: 100%;
    height: auto;
    border: 0.1em solid gainsboro;
    border-radius: 0.5em;
    padding: 1em;
}

form input:focus-visible {
    outline: none;
}

form button {
    width: 100%;
    background-color: rgb(66, 140, 58);
    color: white;
    border: none;
    border-radius: 0.25em;
    transition: 0.3s ease-in-out;
    right: 0;
    margin: 1em auto ;
    padding: 0.5em;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(137, 210, 129);
}

/* Typography */

h1 {
    grid-area: h1;
    margin-bottom: 0.5em;
    font-size: 2em;
}


@container (min-width: 30em) {

}

@media (min-width: 30em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 15fr;
        grid-template-areas: 'h1 h1' 'ul form';
        column-gap: 1em;
        row-gap: 1em;
    }

    ul {
        height: auto;
        aspect-ratio: 3/4;
    }

    form {
        aspect-ratio: 3/4;
    }

}

@media (min-width: 45em) {
    ul {
        aspect-ratio: 1/1;
        height: auto;
    }

    form {
        aspect-ratio: 1/1;  
    }
}

@media (min-width: 60em) {
    section {
        width: 80vw;
        margin: auto;
    }
}

@media (min-width: 80em) {
    ul {
        aspect-ratio: 3/2;
        height: auto;
    }

    form {
        aspect-ratio: 3/2;  
    }
}
